@model LuckyWeb.Models.Pregunta

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Pregunta</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="EstadoPreguntas" /> @Html.DisplayNameFor(model => model.EstadoPreguntas)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="IDrespuesta1" class="control-label"></label>
                <select asp-for="IDrespuesta1" class ="form-control" asp-items="ViewBag.IDrespuesta1"></select>
            </div>
            <div class="form-group">
                <label asp-for="IDrespuesta2" class="control-label"></label>
                <select asp-for="IDrespuesta2" class ="form-control" asp-items="ViewBag.IDrespuesta2"></select>
            </div>
            <div class="form-group">
                <label asp-for="IDrespuesta3" class="control-label"></label>
                <select asp-for="IDrespuesta3" class ="form-control" asp-items="ViewBag.IDrespuesta3"></select>
            </div>
            <div class="form-group">
                <label asp-for="IDrespuesta4" class="control-label"></label>
                <select asp-for="IDrespuesta4" class ="form-control" asp-items="ViewBag.IDrespuesta4"></select>
            </div>
            <div class="form-group">
                <label asp-for="IDrespuesta5" class="control-label"></label>
                <select asp-for="IDrespuesta5" class ="form-control" asp-items="ViewBag.IDrespuesta5"></select>
            </div>
            <div class="form-group">
                <label asp-for="IDrespuesta6" class="control-label"></label>
                <select asp-for="IDrespuesta6" class ="form-control" asp-items="ViewBag.IDrespuesta6"></select>
            </div>
            <div class="form-group">
                <label asp-for="IDrespuesta7" class="control-label"></label>
                <select asp-for="IDrespuesta7" class ="form-control" asp-items="ViewBag.IDrespuesta7"></select>
            </div>
            <div class="form-group">
                <label asp-for="IDrespuesta8" class="control-label"></label>
                <select asp-for="IDrespuesta8" class ="form-control" asp-items="ViewBag.IDrespuesta8"></select>
            </div>
            <div class="form-group">
                <label asp-for="IDrespuesta9" class="control-label"></label>
                <select asp-for="IDrespuesta9" class ="form-control" asp-items="ViewBag.IDrespuesta9"></select>
            </div>
            <div class="form-group">
                <label asp-for="IDrespuesta10" class="control-label"></label>
                <select asp-for="IDrespuesta10" class ="form-control" asp-items="ViewBag.IDrespuesta10"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
