@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}


<link rel="stylesheet" type="text/css" href="~/css/StyleSheet.css">
<div class="scene">
    <div class="overlay"></div>
    <div class="overlay"></div>
    <div class="overlay"></div>
    <div class="overlay"></div>
    <span class="bg-403">403</span>
    <div class="text">
        <span class="hero-text"></span>
        <span class="msg">A donde <span>amiguito</span> </span>
        
    </div>
    <div class="lock"></div>
</div>


