@model LuckyWeb.Models.Mascota

@{
    ViewData["Title"] = "Crear";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card" style="margin:auto;width:600px;">
    <h1 class="card-header text-center text-white py-4" style="background-color:black;">
        <strong>Ingresar Mascota</strong>
    </h1>

    <!--Card content-->
    <div class="card-body px-lg-5 pt-0 cloudy-knoxville-gradient">

        <hr />
        @*<div class="row">*@
        @*<div class="col-md-4">*@
        <!-- Form -->
    <form asp-action="Create" class="text-center" style="color: #757575;">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="md-form" style="margin:auto;width:300px;">
            <label asp-for="NombreMascota" class="control-label"></label>
            <input asp-for="NombreMascota" class="form-control" />
            <span asp-validation-for="NombreMascota" class="text-danger"></span>
        </div>
        <div class="md-form" style="margin:auto;width:300px;">
            <label asp-for="EdadMascota" class="control-label"></label>
            <input asp-for="EdadMascota" class="form-control" />
            <span asp-validation-for="EdadMascota" class="text-danger"></span>
        </div>
        @*-------------Quitar Codigo-------------*@
        @*<div class="md-form" style="margin:auto;width:300px;">
            <label asp-for="Codigo" class="control-label"></label>
            <input asp-for="Codigo" class="form-control" />
            <span asp-validation-for="Codigo" class="text-danger"></span>
        </div>*@
        @*-------------Fin-------------*@
        <div class="md-form" style="margin:auto;width:300px;">
            <span>Raza</span>
            @*<label class="control-label"></label>*@
            <select asp-for="IDraza" class="form-control" style="width:300px;" asp-items="ViewBag.IDraza">
                <option value="" disabled>Escoja una opción</option>
            </select>
        </div>
        <div class="md-form" style="margin:auto;width:300px;">
            <span>Esterilizado</span>
            @*<label asp-for="IDesterilizado" class="control-label"></label>*@
            <select asp-for="IDesterilizado" class="form-control" style="width:300px;" asp-items="ViewBag.IDesterilizado">
                <option value="" disabled>Escoja una opción</option>
            </select>
        </div>
        <div class="md-form" style="margin:auto;width:300px;">
            <span>Adoptado</span>
            @*<label asp-for="IDestadoMascota" class="control-label"></label>*@
            <select asp-for="IDestadoMascota" class="form-control" style="width:300px;" asp-items="ViewBag.IDestadoMascota">
                <option value="" disabled>Escoja una opción</option>
            </select>
        </div>
        <div class="md-form" style="margin:auto;width:300px;">
            <span>Imagen</span>
            @*<label asp-for="Imagen" class="control-label"></label>*@
            <input name="ImagenMascota" id="ImagenMascota" class="form-control" type="file" />
        </div>
        <button class="btn blue-gradient" style="margin:auto;width:300px;" type="submit"><i class="fas fa-paw ml-2" aria-hidden="true"></i> Ingresar</button>
    </form>

        <div>
            <a asp-action="Index">Atrás</a>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
