@model LuckyWeb.Models.Mascota

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Mascota</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdMascota" />
            <div class="form-group">
                <label asp-for="NombreMascota" class="control-label"></label>
                <input asp-for="NombreMascota" class="form-control" />
                <span asp-validation-for="NombreMascota" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EdadMascota" class="control-label"></label>
                <input asp-for="EdadMascota" class="form-control" />
                <span asp-validation-for="EdadMascota" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IDraza" class="control-label"></label>
                <select asp-for="IDraza" class="form-control" asp-items="ViewBag.IDraza"></select>
                <span asp-validation-for="IDraza" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IDesterilizado" class="control-label"></label>
                <select asp-for="IDesterilizado" class="form-control" asp-items="ViewBag.IDesterilizado"></select>
                <span asp-validation-for="IDesterilizado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IDestadoMascota" class="control-label"></label>
                <select asp-for="IDestadoMascota" class="form-control" asp-items="ViewBag.IDestadoMascota"></select>
                <span asp-validation-for="IDestadoMascota" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
