@model LuckyWeb.Models.Mascota

@{
    ViewData["Title"] = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card" style="margin:auto;width:600px;">
    <h1 class="card-header text-center text-white py-4" style="background-color:black;">
        <strong>Editar Mascota</strong>
    </h1>

    <!--Card content-->
    <div class="card-body px-lg-5 pt-0 cloudy-knoxville-gradient">

        <hr />
        @*<div class="row">*@
        @*<div class="col-md-4">*@
        <!-- Form -->
        @*<form asp-action="Create" class="text-center" style="color: #757575;">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
        <div class="text-center">
            <img src="@Model.ImagenMascota" style="max-width: 400px; max-height: 300px; " />
        </div>
        @*<div class="row">
            <div class="col-md-4">*@
    <form asp-action="Edit" enctype="multipart/form-data" class="text-center" style="color: #757575;">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="IdMascota" />
        <div class="md-form" style="margin:auto;width:300px;">
            @*<label asp-for="NombreMascota" class="control-label"></label>*@
            <span>Nombre</span>
            <input asp-for="NombreMascota" class="form-control" />
            <span asp-validation-for="NombreMascota" class="text-danger"></span>
        </div>
        <div class="md-form" style="margin:auto;width:300px;">
            @*<label asp-for="EdadMascota" class="control-label"></label>*@
            <span>Edad</span>
            <input asp-for="EdadMascota" class="form-control" />
            <span asp-validation-for="EdadMascota" class="text-danger"></span>
        </div>
        <div class="md-form" style="margin:auto;width:300px;">
            @*<label asp-for="IDraza" class="control-label"></label>*@
            <span>Raza</span>
            <select asp-for="IDraza" class="form-control" disabled asp-items="ViewBag.IDraza">
                <option value="" disabled>Escoja una opción</option>
            </select>
            <span asp-validation-for="IDraza" class="text-danger"></span>
        </div>
        <div class="md-form" style="margin:auto;width:300px;">
            @*<label asp-for="IDesterilizado" class="control-label"></label>*@
            <span>Esterilizado</span>
            <select asp-for="IDesterilizado" class="form-control" asp-items="ViewBag.IDesterilizado">
                <option value="" disabled>Escoja una opción</option>
            </select>
            <span asp-validation-for="IDesterilizado" class="text-danger"></span>
        </div>
        <div class="md-form" style="margin:auto;width:300px;">
            @*<label asp-for="IDestadoMascota" class="control-label"></label>*@
            <span>Adoptado</span>
            <select asp-for="IDestadoMascota" class="form-control" asp-items="ViewBag.IDestadoMascota">
                <option value="" disabled>Escoja una opción</option>
            </select>
            <span asp-validation-for="IDestadoMascota" class="text-danger"></span>
        </div>
        <div class="md-form" style="margin:auto;width:300px;">
            <span>Imagen</span>
            @*<label asp-for="Imagen" class="control-label"></label>*@
            <input name="ImagenMascota" id="ImagenMascota" class="form-control" type="file" />
            @*<input asp-for="Imagen" class="form-control" />*@
        </div>

        <button class="btn blue-gradient" style="margin:auto;width:300px;" type="submit"><i class="fas fa-edit ml-2" aria-hidden="true"></i> Modificar</button>
    </form>

        <div>
            <a asp-action="Index">Atrás</a>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
